:root {
    --header-height: 3rem;
    --nav-width: 68px;
  
    --first-color:#648ad4;
    --first-color-alt:#7e9cd7;
    --white-color: #dbe2f0;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  main {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    transition: 0.5s;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    padding: 0 1rem;
    transition: 0.5s;
  }
  
  .header-toggle {
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color);
  }
  
  .headbar{
    width: 90%;
    
  }
  
  label.logo{
    padding: 0 100px;
    color: #648ad4;
    font-size: 25px;
    line-height: 80px;
    font-weight: bold;
  
  
  
  }
  
  
  
  
  .button-btn {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.3rem 0.5rem; 
    border-radius: 0.5rem;
    font-size: 0.9rem; 
    text-align: center;
    transition: 0.3s;
    margin-top: 10%;
  }
  
  
  
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -30%;
    height: 100vh;
    width: var(--nav-width);
    background-color: var(--first-color);
    padding-top: 1rem;
    transition: 0.5s;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
  }
  
  .nav-homepage,
  .nav-link {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: 2rem;
    padding: 0.5rem 0 0.5rem 1.5rem;
  }
  
  .nav-homepage {
    margin-bottom: 2rem;
  }
  
  .nav-homepage-icon {
    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
  }
  
  .nav-homepage-name {
   
    color: var(--white-color);
  }
  
  .nav-link {
   
    position: relative;
    color: var(--white-color);
    transition: 0.5s;
    margin-bottom: 1.5rem;
  }
  
  .nav-link:hover {
    font-weight: bold;
    color: var(--white-color);
    background-color: rgba(254, 254, 254, 0.1);
  }
  
  .active {
    font-weight: bold;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 38px;
    width: 3px;
    background-color: var(--white-color);
    transition: 0.5s;
  }
  
  .show {
    left: 0;
  }
  
  .space-toggle {
    padding-left: calc(var(--nav-width) + 1rem);
  }
  
  @media screen and (min-width: 768px) {
    main {
      margin: calc(var(--header-height) + 1rem) 0 0 0;
      padding: 0 1rem 0 calc(var(--nav-width) + 2rem);
    }
  
    
  
    @media screen and (max-width: 768px) {
      .logo {
        padding: calc (var(--header-height)+1 rem);
        font-size:  calc(var(--nav-width)+2rem);
      }
    }
    
    
  
    .header {
      height: calc(var(--header-height) + 1rem);
      padding-left: calc(var(--nav-width) + 2rem);
    }
  
    
    .sidebar {
      left: 0;
      padding: 1rem 0 0 0;
    }
  
    .show {
      width: calc(var(--header-height) + 156px);
    }
  
    .space-toggle {
      padding-left: calc(var(--nav-width) + 188px);
    }
  }
  
  /* 
  for navbar */
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    line-height: 5vh;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -5px;
  
  
  
  }
  .connect{
    font-size: 20px;
  
  
  }
  
  .connect {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    border: none;
  }
  
  .connect:hover {
    font-weight: bold;
  }
  
  
  .menu-links{
    display: flex;
    justify-content: flex-end;
    width: 75%;
  
  
  }
  
  .container{
     max-width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-links li{
    color:black;
    font-size: 15px;
    padding: 0 10px;
    margin: 0 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .menu-links a{
    padding: 20px;
    color: #648ad4;
  
  
  }
  
  button{
    border: none;
    background: none;
    font-size: 20px;
  }
  
  .mobile-menu-icon{
    display: none;
  
  
  
  }
  
  @media screen and (max-width: 768px) {
  
    
    .connect{
      display: flex;
      
  
    }
   
   
    }
  
  
    @media screen and (max-width: 768px) {
  
  
      .menu-links{
        display: none;
      }
  
  
      .menu-links-mobile{
        position: relative;
        display: block;
        list-style: none;
        box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -5px;
        left: 20%;
        top: 10%;
        transition: all 0.5s ease-in-out;
        width: 100%;
        background-color: white;
      }
     
      } 
  
  
    
  